@font-face{font-family:"Conduit ITC";src:url(dew://lib/Conduit-ITC.woff);}

html {
    position: relative;
    color: #FFF;
    font-family: "Conduit ITC", sans-serif;
    font-weight: 500;
}

body{
    padding: 0;
    margin: 0;
    overflow:hidden;
    position: absolute;
    width: 100%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    margin-top:-3.15vw;
}

#blackout{
    display:none;
    position: absolute;
    top: -20vh !important;
    width: 100%;
    height: 120vh;
    background-color: rgba(0,0,0,0.7);
    z-index: 6;
}

#mainmenu{
    display:none;
    margin-top:3.15vw;
    height: 58.7vw;
    width: 100%;
    bottom: 0;
}

#versionString{
    position: relative;
    top: 26.2vw;
    margin-left:12vw;
    font-size: 3.8vw;
    line-height:4vw;
    letter-spacing: 0.02vw;
    color: #afbed5;
}


#mainmenu ul{
    position: absolute;
    bottom: 0;
    left: 6.75vw;
    height: 23.8vw;
    margin:0;
    width: 26.8vw;
    padding:0;
    background-color:rgba(0,0,0,0.35)
}

#mainmenu ul li{
    position: relative;
    width: 97%;
    list-style-type: none;
    padding:0;
    padding-left:0.6vw;
    font-size: 1.93vw;
    color: #afbed5;
    float: left;
}

#serverBrowser{
    letter-spacing: -0.057vw;
    margin-bottom:0.6vw;
}

#localGames{
    letter-spacing: -0.02vw;
}

#hostMultiplayer,#hostForge{
    letter-spacing: -0.025vw;   
}

#localGames,#hostMultiplayer,#hostForge{
    height:2.2vw;
    line-height:2.2w;
}

#settingsButton,#exitButton{
    position: absolute;
    z-index:10;
    width:10vw;
    height: 3.25vw;
    line-height: 3vw;
    text-align: center;
    background-color: black;
    color: #afbed5;
    border: 1px solid #afbed5;
}

#settingsButton:hover,#exitButton:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}

#exitButton{
    bottom: 0.5vw;
    left: 20vw
}

#settingsButton{
    bottom: 0.5vw;
    right: 20.4vw
}

#lobby{
    display:none;
    color: #afbed5;
}

#lobby #settingsButton, #lobby #exitButton{
    margin-bottom: -9.4vw;
}

#leftSide{
    position:relative;
    float: left;
    height: 39vw;
    width: 40.25%;
    margin-left:6.3vw;
    background-color:rgba(0,0,0,0.5)
}

#leftSide ul, #leftSide div{
    padding-left:2%;
    margin-bottom: 0;
}

#title{
    font-size: 3.73vw;
    letter-spacing: -0.001vw;
    color: white;
    margin-bottom:-0.1vw;
    margin-left:7.1vw;
}

#leftside ul{
    padding:0;
    margin-top:0vw;
    height:9.4vw;
}

#leftSide ul li{
    position: relative;
    list-style-type: none;
    padding:0;
    height:2.17vw;
    padding-left:2.5%;
    font-size: 1.97vw;
    letter-spacing: -0.049vw;
}

#startGame{
    position:relative;
    height:2.17vw;
    padding-left:2.5%;
    font-size: 1.97vw;
    letter-spacing: -0.049vw;
    margin-left: 0.1vw;
}

#status, #gameOptions{
    font-size: 2vw;
    letter-spacing: -0.051vw;
    line-height: 2vw;
    margin-left: 0.1vw;
}

#gameOptions{
    margin-top:0.8vw;   

}
#status{
    margin-top:0.4vw;
    line-height: 2vw;
    height:5.85vw;
}

.selected{
    background: -webkit-linear-gradient(left, rgba(199, 109, 41, 0.85) 0%, rgba(255, 110, 0, 0.25) 90%);
}

#mapPic{
    margin-top: 2.2vw;
    width:100%;
    height:13.08vw;
}

#varPic{
    width:26%;
    position: relative;
    margin-top: -12vw;
    margin-left:1.4vw;
}

#gameDesc{
    font-size:2vw; 
    letter-spacing: -0.051vw;
}

#rightSide{
    color:white;
    float: right;
    height: 100%;
    width: 30.5vw;
}

#playerCount{
    font-size:1.7vw;
    padding-left:3.5vw;
    margin-top:-4.19vw;
    letter-spacing: 0.06vw;    
}

#rightSide ul{
    padding:0;
    margin:0;
    margin-top:0.6vw;
}

#rightSide ul li{
    position: relative;
    font-size:2.07vw;
    width: 95.5%;
    list-style-type: none;
    height:2.7vw;
    padding-left:10.2%;
    margin-bottom:0.05vw;
    letter-spacing: 0.033vw;
}

#legend, #priorGame{
    display:none
}

#switchLobbyMenu,#switchNetworkMenu,#switchMapMenu{
    display:none;
    position: absolute;
    height:0;
    z-index:6;
}

#switchLobbyMenu div:not(#menuDescription),#switchNetworkMenu div:not(#menuDescription),#switchMapMenu div:not(#menuDescription){
    position: relative;
    left:6.3vw;
    top: 0vw;
    font-size:1.98vw;
    letter-spacing: -0.05vw;
    background-color: rgba(175,175,175,0.6);
    width: 18.5vw;
    color: white;
    padding-left:1vw;
}

#switchNetworkMenu div:not(#menuDescription){
    top: 2.15vw;
}

#switchMapMenu div:not(#menuDescription){
    top: 10.7vw;
}

#switchLobbyMenu ul,#switchNetworkMenu ul, #switchMapMenu ul{
    position: relative;
    left: 25.75vw;
    top:-3.55vw;
    padding:0;
    list-style-type: none;
    background-color:rgba(175,175,175,0.6);
    width: 21vw;
    color: white;
    margin-bottom:0;
}

#switchNetworkMenu ul{
    top:-1.4vw;
}

#switchMapMenu ul{
    top:4.2vw;
}


#switchLobbyMenu ul li,#switchNetworkMenu ul li,#switchMapMenu ul li{
    padding-left:2.3vw;
    font-size:1.8vw;
    letter-spacing: 0.01vw;
    padding-top:0.1vw;
    padding-bottom: 0.15vw;
}

#switchLobbyMenu #menuDescription,#switchNetworkMenu #menuDescription,#switchMapMenu #menuDescription{
    position:relative;
    top: -8vw;
    left:48vw;
    width: 25vw;
    font-size:1.8vw;
    line-height: 2vw;
    letter-spacing:0.02vw;
}

#switchNetworkMenu #menuDescription{
    top:-5.9vw;
}

#switchMapMenu #menuDescription{
    position:absolute;
    top:10.6vw;
}

#switchMapMenu #menuImage{
    position: absolute;
    top: 21.5vw;
    left:48vw;
    width: 25vw;
}

#settingsWindow{
    display: none;
    margin-top: 5.5vw;
    position: absolute;
    height: 40.4vw;
    width: 100%;
    opacity:0.8;
    background-color: #14234a;
    padding-left: 12.8vw;
    font-size:1.9vw;
    color: #afbed5;
    z-index:7;
}

#windowTitle{
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    padding-left:16.3vw;
    letter-spacing:0.15vw;
    background-color: black;
    height: 4vw;
    font-size: 3.5vw;
    color: white;
} 

#settingsWindow ul{
    float: left;
    width: 20vw;
    margin:0;
    list-style-type: none;
    margin-top: 5.2vw;
    letter-spacing:-0.01vw;
    line-height: 2.3vw;
}

#settingsWindow ul li{
    padding-left: 1.55vw;
}

#secondaryList{
    position: relative;
    left: -0.5vw;
}

#optionDesc{
    position: relative;
    float: right;
    top: 21.1vw;
    right: 29.5vw;
    line-height: 2vw;
    letter-spacing:-0.01vw;
    width: 20vw;
}

#controlLegend{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3vw;
    background-color: black;
}

#menuChoicePic{
    position: relative;
    top: 6vw;
    width: 11.5vw;
    left: 8.5vw;
}

#switchTeams{
    position: absolute;
    bottom: -5.6vw;
    right: 12vw;
    background-color: white;
    color: black;
    width: 15vw;
    text-align: center;
    border: 1px solid black;
}